{% extends 'layout.html' %}

{% block title %}{{bookshelf.name}} | Books {% endblock %}

{% block content %}
    <h2>{{bookshelf.name}}</h2>
    <form method="post" action='/bookshelves/{{bookshelf.id}}/new_book'>
      {% csrf_token %}
      <input name="book_text" id="id_new_book" placeholder="Add a book to this list">
    </form>
    <div class="container" id="id_book_grid">
      <div class="row">
        {% for book in books %}
          <div class="col-sm-4">
            <h3>{{ book.name }}</h3>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
