<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BookCase</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h1>BookCase</h1>
    <form method="post">
      {% csrf_token %}
      <input name="bookshelf_text" id="id_new_shelf" placeholder="Build a bookshelf">
    </form>
    <div class="container" id="id_bookshelf_grid">
      <div class="row">
        {% for bookshelf in bookshelves %}
          <div class="col-sm-4">
            <h2>{{ bookshelf.name }}</h2>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
